.card {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-text {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .card-text strong {
    color: #333;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-success {
    background-color: #4caf50;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #f44336;
    color: #fff;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .btn-success:hover,
  .btn-danger:hover {
    transform: translateY(-2px);
  }
  
  .image-container {
    text-align: center;
  }
  .card-img {
    max-width: 500px; /* Définissez la largeur maximale souhaitée */
    max-height: 150px; /* Définissez la hauteur maximale souhaitée */
  }
  
  .image-container img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  