<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 >DanceScape Explorer</h2>
          
          <p  >Elevate Your Dance Journey with Virtual Competitions and More! <br> Welcome to DanceScape, where passion meets competition in the world of dance! Immerse yourself in a vibrant community dedicated to celebrating the art of dance through our innovative online platform.
            Step onto the digital stage and showcase your talent in our thrilling virtual dance competitions. Whether you're a beginner, intermediate, or a seasoned pro, DanceScape provides a dynamic platform for dancers of all levels to shine. Compete with fellow enthusiasts, receive valuable feedback from experienced judges, and stand a chance to claim exciting prizes for the top performers.</p>
          <div >
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn btn-primary btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span class="ms-2">Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="/assets/FrontOffice/assets/img/Home-Page.jpg"  width="500" height="750">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
  