<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title</title>
    <link href="/assets/BackOffice/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/assets/BackOffice/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <div id="wrapper">
        <!-- Sidebar -->
        <app-sidebar-back></app-sidebar-back>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <app-navebar-back></app-navebar-back>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Your Angular router outlet -->
                    <router-outlet></router-outlet>

                  <!-- create-event.component.html -->
                  <div class="container mt-5">
                    <h2>Create Event</h2>
                    <form [formGroup]="eventForm" (ngSubmit)="createEvent()">
                        <div class="form-group">
                            <label for="eventName">Event Name:</label>
                            <input type="text" class="form-control" formControlName="eventName" id="eventName" placeholder="Enter event name">
                            <div *ngIf="eventForm.get('eventName')?.invalid && (eventForm.get('eventName')?.dirty || eventForm.get('eventName')?.touched)">
                                <div *ngIf="eventForm.get('eventName')?.errors?.['required']" class="text-danger">Event Name is required.</div>
                                <div *ngIf="eventForm.get('eventName')?.errors?.['minlength']" class="text-danger">Event Name must be at least 3 characters long.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" formControlName="description" id="description" rows="3" placeholder="Enter event description"></textarea>
                            <div *ngIf="eventForm.get('description')?.invalid && (eventForm.get('description')?.dirty || eventForm.get('description')?.touched)">
                                <div *ngIf="eventForm.get('description')?.errors?.['required']" class="text-danger">Description is required.</div>
                                <div *ngIf="eventForm.get('description')?.errors?.['minlength']" class="text-danger">Description must be at least 10 characters long.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" formControlName="city" id="city" placeholder="Enter city">
                        </div>
                        <div class="form-group">
                            <label for="availableTickets">Available Tickets:</label>
                            <input type="number" class="form-control" formControlName="availableTickets" id="availableTickets" placeholder="Enter available tickets">
                        </div>
                        <div class="form-group">
                            <label for="imageE">Image URL:</label>
                            <input type="text" class="form-control" formControlName="imageE" id="imageE" placeholder="Enter image URL">
                        </div>
                    
                        <div class="form-group">
                            <label for="eventDate">Event Date:</label>
                            <input type="date" class="form-control" formControlName="eventDate" id="eventDate">
                        </div>
                        <div class="form-group">
                            <label for="ticketPrice">Ticket Price:</label>
                            <input type="text" class="form-control" formControlName="ticketPrice" id="ticketPrice">
                        </div>
                        <div class="form-group">
                            <label for="eventType">Event Type:</label>
                            <select id="eventType" class="form-control" formControlName="eventType">
                                <option value="RECRUITEMENT">Recruitment</option>
                                <option value="DANCESHOW">Dance Show</option>
                                <option value="COMPETITION">Competition</option> 
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Event</button>
                    </form>
                </div>
                

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/BackOffice/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/BackOffice/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="/assets/BackOffice/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages -->
    <script src="/assets/BackOffice/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/assets/BackOffice/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/assets/BackOffice/js/demo/chart-area-demo.js"></script>
    <script src="/assets/BackOffice/js/demo/chart-pie-demo.js"></script>
</body>

</html>
