<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title</title>
    <link href="/assets/BackOffice/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/assets/BackOffice/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <div id="wrapper">
        <!-- Sidebar -->
        <app-sidebar-back></app-sidebar-back>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <app-navebar-back></app-navebar-back>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Your Angular router outlet -->
                    <router-outlet></router-outlet>

<div class="card">
  <div class="card-body">
    <div >
      <h1 style="text-align: center;">All Reclamations</h1>

      <!-- Topbar Search -->
      <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
          <input type="search" [(ngModel)]="searchText" name="searchText" id="form1" class="form-control" placeholder="Search" aria-label="search" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
        <br>
      </form>

      <!-- Table pour afficher les réclamations -->
      <table class="table ">
        <thead class="thead-dark">
          
            <tr>
              <th>Type</th>
              <th>Description</th>
              <th>Date</th>
              <th>Status</th>
              <th>Sentiment</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reclamation of reclamations | paginate: { itemsPerPage: 6, currentPage: p } | filter: searchText ">
              <td>{{ reclamation.type }}</td>
              <td>{{ reclamation.description }}</td>
              <td>{{ reclamation.dateCreation }}</td>
              <td>{{ reclamation.reclamationStatus }}</td>
              <td>
                {{ reclamation.sentiment }}
                <!-- Utiliser ngIf pour afficher l'émoticône correspondant au sentiment -->
                <span *ngIf="reclamation.sentiment === 'Positive'">😊</span>
                <span *ngIf="reclamation.sentiment === 'Negative'">😞</span>
                <span *ngIf="reclamation.sentiment === 'Neutral'">😐</span>
              </td>
              <td>
                <button type="button" (click)="deleteReclamation(reclamation.reclamationId)" class="btn btn-outline-danger mx-2">
                  <i class="fas fa-trash-alt"></i> <!-- Icône de corbeille -->
                </button>
                <button type="button" (click)="update(reclamation.reclamationId)" class="btn btn-outline-success">
                  <i class="fas fa-edit"></i> <!-- Icône de modification -->
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    

      <!-- Placer la directive pagination-controls à droite de la page -->
      <div style="text-align: right;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
              
 <!-- Your Angular router outlet -->
 <router-outlet></router-outlet>
</div>
            </div>
        </div>
    </div>
<!-- /.container-fluid -->

<!-- End of Main Content -->

               
            
            <!-- /.container-fluid -->
       
        <!-- End of Main Content -->
   
    <!-- End of Content Wrapper -->

<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="/assets/BackOffice/vendor/jquery/jquery.min.js"></script>
<script src="/assets/BackOffice/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript -->
<script src="/assets/BackOffice/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages -->
<script src="/assets/BackOffice/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/assets/BackOffice/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/assets/BackOffice/js/demo/chart-area-demo.js"></script>
<script src="/assets/BackOffice/js/demo/chart-pie-demo.js"></script>
</body>

</html>
