
  /* Custom pagination styles */
  .pagination .page-link {
    color: #8B0000; /* Dark red color */
  }

  .pagination .page-link:hover {
    color: #800000; /* Darker red color on hover */
  }

  .pagination .page-item.active .page-link {
    background-color: #8B0000; /* Dark red background for active page */
    border-color: #8B0000; /* Dark red border color for active page */
  }

  .pagination .page-item.disabled .page-link {
    color: #ccc; /* Light gray color for disabled page */
  }

  .pagination .page-link:focus {
    box-shadow: none; /* Remove focus box shadow */
  }
  
  /* White color for pagination link text */
  .pagination .page-link,
  .pagination .page-link:focus {
    color: #720101; /* White color for pagination link text */
  }

