<h1 style="text-align: center;">Admin Dashboard</h1>
<div class="dashboard-container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <canvas id="levelVerticalBarChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <canvas id="sentimentLineChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <canvas id="sentimentPieChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

 

  
