<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/assets/FrontOffice/assets/img/logo.png" alt="" width=50 length=200> 
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="competition.html">Competitions</a></li>
          <li><a href="view-tutorial-front">Tutorials</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="recruitment.html">Recruitment</a></li>
          <li><a href="clubs.html">Clubs</a></li>
          <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="blog.html">Blog</a></li>
              
              <li><a href="add-reclamation-front">Reclamation</a></li>
             
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <a class="btn-login" href="#">Log in</a>
      <a class="btn-signup" href="#">Sign up</a>

      
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->